.container {
  background-color: #fff;
  margin: 50px auto;
  width: 80vw;
  height: 700px;
  border: 2px solid #fff;
}
.wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .title {
    text-transform: uppercase;
    color: #de343d;
  }

  .filter {
    justify-self: flex-end;
  }

  .button_block {
    margin-top: 25px;

    button {
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
