

.text{
  color: #000;
  line-height: 5px;
  font-size: 0.7em;
 text-align: start;
}
.img {
    width: 200px;
    border-radius: 7px;
  }
.brand {
  color: grey;
  font-weight: 600;
}
.model {
  color: #000;
  font-size: 1.1em;
  font-weight: 600;
}
.price {
  color: #000;
  font-size: 0.9em;
  font-weight: 600;
}
.size {
  color: #de343d;
  font-size: 1em;
  font-weight: 700;
}
